@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    font-family:"Raleway", "sans-serif";
}
.outer-container {
    width:100%;
    height:auto;
    display:block;
}
.ui-bg-darkest {
    background-color:#007585;
}
.ui-bg-middle {
    background:#00b3cb;
}
.ui-bg-lightest {
    background:#00ddfa;
}
.ui-font-lightest {
    color: #00ddfa;
}
.ui-font-middle {
    color:#00b3cb;
}

.span-adjust {
    width:100%;
    padding:10px;
}
.ui-font-lightest {
    color: #00ddfa;
}

.visibility-toggle .parent-container {
    display: none;
    height:0;
}

.visibility-toggle:focus, .visibility-toggle:focus-within > .parent-container {
    display: block;
    height:auto;
}

.table-container {
    position:relative;
    width:80%;
    height:auto;
    margin:0 auto;
    border:2px solid #00b3cb;
    text-align:center;
}
.parent-container {
    max-width:100%;

}
.visibility-toggle {
    border:4px solid #00b3cb;
    font-size:24px;
    width:90%;
    display:block;
    margin:0 auto;
}

.visibility-toggle h3 {
    text-align: center;
}

#upAndUpFilterGt05 {
    text-align:center;
    margin:0 auto;
}

#upAndUpFilterGt05 td {
    border:2px solid black;
}

#upAndUpFilterGt05 td {
    text-align: center;
}

.key {
    width:100%;
    border-bottom:#00b3cb 4px solid;
}

.key, .value {
    display:block;
    padding-top:20px;
    padding-bottom:20px;
}
.span-label {
    background:#fff;
    position:relative;
    display:block;
    margin:0 auto;
    padding:5px;
    text-align:center;
    color:black;
}
.key span, .value span, .trendIndicator span {
    padding-left:10px;
}

.form-div {
    display:block;
    margin:0 auto;
    width:50%;
    position:relative;
}
.form-div form {
    text-align:center;
}
.form-div form > * {
    margin-top:5px;
}
.trendIndicator {
    background:#333;
    color:yellow;
    width:100%;
    border-top:yellow 2px solid;
    border-bottom:yellow 2px solid;
    padding-top:20px;
    padding-bottom:20px;
}

.value {
    width:100%;
    border-bottom:#00b3cb 4px solid;
}

.visibility-toggle {
    padding-top:50px;
    padding-bottom:50px;
    height:auto;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}

.visibility-toggle {
    transition: box-shadow 0.3s ease-in-out;
}

.parent-container {
    transition: height 1.5s ease-in-out;
}
.visibility-toggle:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

form label {
    display:block;
    position:relative;
    margin-top:10px;
    font-size:10px;
}

form input[type=file] {
    margin-top:10px;
}